.banner {
    background: url(../assets/imgs/banner-bg/banner-bg-2560x676.jpg) center center / cover no-repeat;
    padding: 130px 0 141px 0;

    .heading-1 {
        color: #fff;
    }

    &__content-wrap {
        width: 47%;
    }

    &__text {
        @include font($secondaryFont, 400, 1.25rem, 26px, #fff);
        margin-top: 20px;
    }

    &__button {
        background-color: $primaryColor;
        color: #fff;
        margin-top: 35px;
        transition: 0.3s background-color;

        &:hover {
            background-color: $primaryColorAlternativeHover;
        }
    }
}

@media (max-width: $desktopPoint) {
    .banner {
        background: url(../assets/imgs/banner-bg/banner-bg-1204x723.jpg) center center / cover no-repeat;
        padding: 133px 0 158px 0;

        &__content-wrap {
            width: 49%;
        }

        &__text {
            padding-right: 5px;
        }

        &__button {
            margin-top: 38px;
        }
    }
}

@media (max-width: $tabletPoint) {
    .banner {
        background: url(../assets/imgs/banner-bg/banner-bg-768x622.jpg) center center / cover no-repeat;
        padding: 110px 0 118px 0;

        &__content-wrap {
            width: 55%;
        }

        &__text {
            font-size: 1.125rem;
            line-height: 24px;
            margin-top: 20px;
        }
    }
}

@media (max-width: $mobilePoint) {
    .banner {
        background: url(../assets/imgs/banner-bg/banner-bg-320x393.jpg) center center / cover no-repeat;
        padding: 65px 0 70px 0;

        &__content-wrap {
            text-align: center;
            width: 100%;
        }

        &__text {
            font-size: 1rem;
            line-height: 23px;
            margin-top: 5px;
        }

        &__button {
            width: 100%;
        }
    }
}
