.user-card {
    display: flex;
    padding-right: 5px;
    max-width: 352px;

    .paragraph-3 {
        color: #4c4b4b;
    }

    &__avatar {
        flex-shrink: 0;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    &__info {
        padding-left: 9px;
        overflow: hidden;
    }

    &__name {
      margin-top: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__position {
      margin-top: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__email {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__phone {
      overflow: hidden;
      text-overflow: ellipsis;
    }
}

@media (max-width: $desktopPoint) {
  .user-card {
    max-width: 284px;
  }
}

@media (max-width: $tabletPoint) {
    .user-card {
        flex-direction: column;
        align-items: center;
        max-width: 217px;

        &__info {
            text-align: center;
          width: 100%;
        }

        &__name {
            margin-top: 10px;
        }

        &__position {
            line-height: 15px;
        }
    }
}
