.users {
    background: $backgroundColor;
    padding: 135px 0 80px 0; 

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        margin-top: 10px;
    }

    &__users-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 55px;
        grid-column-gap: 30px;
        margin-top: 55px;
    }

    &__button {
        border: 2px solid $primaryColor;
        color: $primaryColor;
        margin-top: 55px;
        box-sizing: border-box;
        cursor: pointer;
        transition: 0.3s background-color;

        &:hover {
            background-color: rgba($primaryColorAlternativeHover, 0.2);
        }
    }
}

@media (max-width: $desktopPoint) {
    .users {
        padding: 135px 0 80px 0; 

        &__users-list {
            grid-row-gap: 40px;
            grid-column-gap: 20px;
        }

        &__button {
            margin-top: 50px;
        }
    }
}

@media (max-width: $tabletPoint) {
    .users {
        padding: 115px 0 80px 0; 

        &__users-list {
            grid-row-gap: 20px;
            grid-column-gap: 10px;
            margin-top: 38px;
        }

        &__button {
            margin-top: 55px;
        }
    }
}

@media (max-width: $mobilePoint) {
    .users {
        padding: 70px 0 40px 0; 

        &__subtitle {
            text-align: center;
            font-size: 1rem;
            padding: 0 60px;
            line-height: 23px;
        }

        &__users-list {
            grid-template-columns: 1fr;
            grid-row-gap: 33px;
            margin-top: 30px;
        }

        &__button {
            margin-top: 25px;
        }
    }
}