//colors
$primaryColor: #ef6c00;
$primaryColorAlternativeHover: #fc831f;

$secondaryColor: #283593;
$secondaryColorHover: #2638bb;

$backgroundColor: #fff;

$paragraphColor: #4c4b4b;

//fonts
$primaryFont: Overpass;
$secondaryFont: "Source Sans Pro";

//media-query points
$desktopPoint: 1200px;
$tabletPoint: 960px;
$mobilePoint: 710px;